<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link href="../static/clab-web/css/lib/bootstrap.min.css" rel="stylesheet">
     <link href="http://cdn.bootcss.com/bootstrap-fileinput/4.3.4/css/fileinput.min.css" rel="stylesheet">

</head>
<body>

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CLab产品配置</a>
        </div>
        <div id="navbar-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">WORK</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </div>
    </nav>

    <!-- 主体 -->
    <div class="container-fluid" style="text-align: center">
        <h2>CLab产品配置</h2>
        <p class="lead">输入格式介绍:</p>

        <div style="margin-top: 50px">
            <form class="form-horizontal">

                <div class="form-group" style="margin: 10px">
                  <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">input: </label>
                    <div class="col-sm-10">
                        <input type="file" id="exampleInputFile" class="file" style="width: 100px">
                    </div>
                  </div>
                </div>

                <div class="form-group" style="margin: 10px">
                  <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">rule: </label>
                    <div class="col-sm-10">
                       <textarea class="form-control" type="text" name="description" style="height:80px;width: 420px" id="bicDescription"></textarea>
                    </div>
                  </div>
                </div>

            </form>
        </div>
    </div>


    <script src="../static/clab-web/js/lib/jquery-3.1.0.min.js"></script>
    <script src="../static/clab-web/js/lib/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.4/js/fileinput.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.4/js/locales/zh.js"></script>
</body>
</html>