<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link href="/clab-web/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/clab-web/css/basic.css" rel="stylesheet">
</head>
<body>

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CLAB</a>
        </div>
        <div id="navbar-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('submit_textarea_form') }}">在线编辑</a></li>
                <li><a href="#">格式相关</a></li>
            </ul>

        </div>
    </nav>

    <!-- 主体 -->
    <div class="container-fluid" style="text-align: center">
        <div class="row">
            <div class="col-md-4">
                <form class="form-horizontal form-margin">
                    <div class="form-group">
                        <label for="input-rule">规则</label>
                        <textarea class="form-control input-text" type="text" id="input-rule" style="height: 550px"></textarea>
                      </div>

                    <div class="form-group">
                        <button type="button" id="sureBtn" class="btn btn-primary" >
                           确定
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <form class="form-horizontal form-margin">
                    <div class="form-group">
                        <label for="out-summary">输出（总体）</label>
                        <textarea class="form-control input-text" type="text" id="output-summary" readonly style="height: 550px"></textarea>
                    </div>

                    <div class="form-group">
                        <a type="button" class="btn btn-primary download-btn" href="{{ url_for('static', filename='CLab10/examples/shirt/output.txt') }}">
                           下载
                        </a>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <form class="form-horizontal form-margin">
                    <div class="form-group">
                        <label for="out-detail">输出（详细）</label>
                        <textarea class="form-control input-text" type="text" id="output-detail" readonly style="height: 550px"></textarea>
                    </div>

                    <div class="form-group">
                        <a type="button" class="btn btn-primary download-btn" href="{{ url_for('static', filename='CLab10/examples/shirt/outputDump.dump') }}">
                           下载
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/clab-web/js/lib/jquery-3.1.0.min.js"></script>
    <script src="/clab-web/js/lib/bootstrap.min.js"></script>
    <script src="/clab-web/js/uploadingManage.js"></script>
</body>
</html>